body {
  background-color: #222; }

.container {
  min-height: 98%;
  min-height: 98vh;
  display: flex;
  align-items: center; }

.stream-wrapper {
  margin: auto;
  width: 1280px; }

iframe {
  width: 100%; }

.chat.hidden {
  display: none; }

@media (max-width: 576px) {
  iframe {
    height: 225px;
    width: 100%; }
  .container {
    flex-wrap: wrap; } }

@media (min-width: 576px) {
  .container {
    flex-wrap: nowrap; } }
